{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
	<h1 class="text-center mb-4">Video Downloader</h1>
	<p class="text-center mb-5">Choose an option below to start downloading videos:</p>
	<div class="d-flex flex-column align-items-center">
		<button class="btn btn-primary mb-3 w-75 w-sm-50 w-md-40" onclick="redirectToBatch()">Batch Download YouTube
			Videos</button>
		<button class="btn btn-primary mb-3 w-75 w-sm-50 w-md-40" onclick="redirectToURL()">Download Video from URL</button>
		<button class="btn btn-primary w-75 w-sm-50 w-md-40" onclick="redirectToAccount()">Account</button>
	</div>
</div>

<script>
	function redirectToBatch() {
		window.location.href = '/batch/playlist';
	}

	function redirectToURL() {
		window.location.href = '/download-url';
	}

	function redirectToAccount() {
		window.location.href = '/account_fb';
	}
</script>
{% endblock %}