<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
		<title>Video Downloader</title>
		<style>

			h1 {
				color: #333;
			}

			.button-container {
				margin-top: 20px;
			}

			button {
				background-color: #007bff;
				color: white;
				padding: 10px 20px;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				font-size: 16px;
				margin: 10px;
				transition: background-color 0.3s ease;
			}

			button:hover {
				background-color: #0056b3;
			}
		</style>
	</head>
	<body>
		{% include 'header.html' %}
		<div class="container">
			<h1>Video Downloader</h1>
			<p>Choose an option below to start downloading videos:</p>
			<div class="button-container">
				<button onclick="redirectToBatch()">Batch Download YouTube Videos</button>
				<button onclick="redirectToURL()">Download Video from URL</button>
				<button onclick="redirectToAccount()">Account</button>
			</div>
		</div>

		<script>
			function redirectToBatch() {
				window.location.href = '/batch'; // Thay bằng URL thực tế của bạn
			}

			function redirectToURL() {
				window.location.href = '/download-url'; // Thay bằng URL thực tế của bạn
			}
			function redirectToAccount() {
				window.location.href = '/account_fb'; // Thay bằng URL thực tế của bạn
			}
		</script>
	</body>
</html>